<div class="main-user-form-box-inner">
    <%= form_with(model: main_user_tweet, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <%# 店舗名入力欄 %>
      <div class="main-user-tweet-shopname">
        <label>店舗名</label>
        <span class="indispensable">必須</span><br />
        <%= f.text_field :shop_name, autofocus: true, placeholder:"例) イタリアンtest" %>
      </div>
      <%# 口コミ入力欄 %>
      <div class="main-user-tweet-text">
      <label>口コミ</label>
        <span class="indispensable">必須</span><br />
        <%= f.text_area :text, placeholder:"例) とても美味しかったです！", maxlength:"300" %>
      </div>
      <%# 画像選択欄 %>
      <div class="main-user-tweet-image">
        <label>画像</label>
        <span class="indispensable">任意</span><br />
        <%= f.file_field :main_user_tweet_images, multiple: true %>
      </div>
      <%# エリア入力欄 %>
      <div class="main-user-tweet-area">
        <p>エリア</p>
        <%# 都道府県入選択欄 %>
        <div class="main-user-tweet-prefectures">
          <label>都道府県</label>
          <span class="indispensable">必須</span><br />
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefectures-select"}) %>
        </div>
        <%# 市町区村選択欄 %>
        <div class="main-user-tweet-city">
          <label>市町区村</label>
          <span class="indispensable">必須</span><br />
          <%= f.collection_select(:city_id, City.all, :id, :name, {}, {class:"city-select"}) %>
        </div>
      </div>
      <%# 料理ジャンル選択欄 %>
      <div class="main-user-tweet-genres">
      <label>料理ジャンル</label>
        <span class="indispensable">必須</span><br />
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
      </div>
      <%# 支払い方法選択欄 %>
      <div class="main-user-tweet-payment_type">
      <label>支払方法</label>
        <span class="indispensable">任意</span><br />
        <%= collection_check_boxes(:main_user_tweet, :payment_type_ids, PaymentType.all, :id, :payment_type) do |b| %>
        <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
      <%# テイクアウト選択欄 %>
      <div class="main-user-tweet-takeout">
        <p>テイクアウト商品有無</p>
        <label><%= f.radio_button :take_out, "有" %>有</label>
        <label><%= f.radio_button :take_out, "無" %>無</label>
      </div>
      <%= f.submit "投稿" %>
    <% end %>
  </div>