<div class="shop_user_edit-box">
  <h1>店舗ユーザー情報編集</h1>
  <div class="shop_user_edit-box-inner">
    <%= form_with model: @shop_user, local: true do |f| %>
    <%= render "shop_users/shared/error_messages", resource: @shop_user %>
      <%# ユーザー名入力欄 %>
      <div class="shop_user_edit-box-shopname">
        <label>ユーザー名</label>
        <span class="indispensable">必須</span><br />
        <%= f.text_field :shop_name, autofocus: true, placeholder:"例) イタリアンtest" %>
      </div>
      <%# メールアドレス入力欄 %>
      <div class="shop_user_edit-box-email">
        <label>メールアドレス</label>
        <span class="indispensable">必須</span><br />
        <%= f.email_field :email, placeholder:"PC・携帯どちらでも可" %>
      </div>
      <%# 郵便番号入力欄 %>
      <div class="shop_user_edit-box-postalcode">
        <label>郵便番号</label>
        <span class="indispensable">必須</span><br />
        <%= f.text_field :postal_code, placeholder:"例) 123-4567", maxlength:"8" %>
      </div>
      <%# 都道府県選択欄 %>
      <div class="shop_user_edit-box-prefecture">
        <label>都道府県</label>
        <span class="indispensable">必須</span><br />
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"prefectures-select"}) %>
      </div>
      <%# 市町区村選択欄 %>
      <div class="shop_user_edit-box-city">
        <label>市町区村</label>
        <span class="indispensable">必須</span><br />
        <%= f.collection_select(:city_id, City.all, :id, :name, {}, {class:"city-select"}) %>
      </div>
      </div>
      <%# 番地入力欄 %>
      <div class="shop_user_edit-box-address">
        <label>番地</label>
        <span class="indispensable">必須</span><br />
        <%= f.text_field :address, placeholder:"例) 青山1-1-1" %>
      </div>
      <%# 建物名入力欄 %>
      <div class="shop_user_edit-box-buildingname">
        <label>建物名</label>
        <span class="indispensable">任意</span><br />
        <%= f.text_field :building_name, placeholder:"例）柳ビル103" %>
      </div>
      <%# ホームページリンク入力欄 %>
      <div class="shop_user_edit-box-shoplink">
        <label>ホームページリンク</label>
        <span class="indispensable">任意</span><br />
        <%= f.text_field :shop_link %>
      </div>
      <%# 電話番号入力欄 %>
      <div class="shop_user_edit-box-phonenumber">
        <label>電話番号</label>
        <span class="indispensable">必須</span><br />
        <%= f.text_field :phone_number, placeholder:"例）09012345678", maxlength:"11"%>
      </div>
      <%# 支払い方法選択欄 %>
      <div class="shop-user-payment_type">
      <label>支払方法</label>
        <span class="indispensable">任意</span><br />
        <%= collection_check_boxes(:shop_user, :payment_type_ids, PaymentType.all, :id, :payment_type) do |b| %>
        <%= b.label { b.check_box + b.text } %>
        <% end %>
      </div>
      <%# プロフィール入力欄 %>
      <div class="shop_user_edit-box-profile">
        <label>プロフィール</label>
        <span class="indispensable">任意</span><br />
        <%= f.text_area :profile, maxlength:"300"%>
      </div>
      <%# 保存ボタン %>
      <div class="actions">
        <%= f.submit "保存" %>
      </div>
    <% end %>
  </div>
</div>

